body {
  height: 100vh;
}

#root {
  height: 100%;
}

.madeWithHeart {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  background-color: #000;

  a {
    color: hotpink;
  }
}